{
  "name": "mysqltest",
  "description": "It does things",
  "region": "us-west-2",
  "runtime": "python2.7",
  "handler": "mysql_test.lambda_handler",
  "role": "arn:aws:iam::489232673781:role/lambda-vpc-execution-role",
  "timeout": 30,
  "memory": 512,
  "vpc": {
    "subnets": [
      "subnet-a98092cf",
      "subnet-50f8c518",
      "subnet-cf36fb95"
    ],
    "security_groups": [
      "sg-f257568e"
    ]
  },
  "ignore": [
    "circle\\.yml$",
    "\\.git$",
    "lib/",
    "bin/",
    "include/",
    ".git/",
    ".Python",
    "/.*\\.pyc$"
  ],
  "variables": {
    "DB_ENDPOINT": <SECRET>,
    "DB_USERNAME": <SECRET>,
    "DB_PASSWORD": <SECRET>,
    "DB_NAME": <SECRET>
  }
}
